In [1]:
import pandas as pd
import numpy as np
import datetime
import pickle
from tqdm import tqdm, trange
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from os import listdir
from os.path import isfile, isdir, join

# 指定要列出所有檔案的目錄
mypath = './weblog_sorted'
# 取得所有檔案與子目錄名稱
files = listdir(mypath)
csv_list = []
# 以迴圈處理
for f in files:
  # 產生檔案的絕對路徑
  fullpath = join(mypath, f)
  # 判斷 fullpath 是檔案還是目錄
  if isfile(fullpath):
#     print("檔案：", f)
    if f[-4:]=='.csv':
        csv_list.append(f)
csv_list.sort()

In [3]:
with open('./item_data/dict_knn_table.pkl', 'rb') as file:
    dict_knn_table = pickle.load(file)

In [6]:
dict_knn_table['c3068248b86811e9b93facde48001122']

['78d1674cb86811e98edaacde48001122',
 'e35a473eb86611e996e5acde48001122',
 '00b24164b86811e99005acde48001122',
 'cfb4512eb86711e9be44acde48001122',
 'e3334026b86611e9a106acde48001122',
 '67fd6a1eb86911e9a163acde48001122',
 'f5a28c58b86611e9a5f5acde48001122',
 'e3604a08b86611e9b07dacde48001122',
 '00b23df4b86811e99f29acde48001122',
 'e36e9f90b86611e98913acde48001122',
 '0103bc4cb86811e9847aacde48001122',
 '6c474a62b86711e9aa25acde48001122',
 '4e190a50b86811e98e20acde48001122',
 '6c223aa4b86711e9aba8acde48001122',
 'd3483fd4b86811e98dc7acde48001122',
 '2f36c3d0b86711e9aa97acde48001122',
 '86d7f500b86c11e9a191acde48001122',
 '10282c46b86811e98670acde48001122',
 'f5b669a8b86611e9936facde48001122',
 '052983ecb86d11e9a8a1acde48001122',
 '770841eeb86b11e9b664acde48001122',
 '1e8862d0b86911e98e7cacde48001122',
 'd39aa89eb86a11e9bb5eacde48001122',
 '1ebdabe2b86a11e9b206acde48001122',
 '4709ea00b86711e9a948acde48001122',
 'eecf5d78b86811e9b6ddacde48001122',
 '1785f83ab86711e98172acde48001122',
 '2f3829f0b86711e9bc8facde48001122',
 'e3667d1ab86611e98fdbacde48001122',
 'f80a8df4b86a11e9896aacde48001122',
 'ba7b0f78b86711e98744acde48001122',
 '7ff8ae76b86911e9bc40acde48001122',
 '0ff83c00b86811e9a489acde48001122',
 '00b23c98b86811e98ddbacde48001122',
 '8bf4a468b86811e98053acde48001122',
 '64dfd926b86811e9b07bacde48001122',
 '7e67e1c8b86711e9ae3eacde48001122',
 '90ee7a50b86711e9a313acde48001122',
 '10282c9eb86811e9b286acde48001122',
 '91aa4eb8b86911e98af5acde48001122',
 '1e9eb210b86911e99ab1acde48001122',
 '00b23fc0b86811e9a425acde48001122',
 '08e4b14ab86911e995b6acde48001122',
 'adbde3d8b86811e99e59acde48001122',
 'c1724942b86a11e99603acde48001122',
 '385b2498b86811e98eb8acde48001122',
 '5bf2e4e4b86711e986cfacde48001122',
 '00fd279cb86811e983a1acde48001122',
 '47aa090cb86711e9b547acde48001122',
 'e38568c6b86611e9ad32acde48001122',
 'f59a405cb86611e9a87bacde48001122',
 '0103bd1eb86811e9aa94acde48001122',
 '91195ffeb86711e9a425acde48001122',
 '07035702b86711e98960acde48001122',
 'd8d09ee6b86911e9834aacde48001122',
 '572db1d4b86a11e98f11acde48001122',
 '00d1511cb86811e9aa23acde48001122',
 '7e908a88b86711e98b28acde48001122',
 '1016650cb86811e980d4acde48001122',
 '38a9978cb86811e9959eacde48001122',
 'e32cb350b86611e99988acde48001122',
 '00cfac0cb86811e9bcffacde48001122',
 '17685a5cb86711e99f83acde48001122',
 'bab9998cb86711e9a12eacde48001122',
 '4687db8cb86a11e9872cacde48001122',
 'adc5ff94b86811e99ae2acde48001122',
 '25de2180b86b11e9ac5eacde48001122',
 '226a06a2b86811e9abe2acde48001122',
 '475562beb86711e9aff2acde48001122',
 '9a9cb2d2b86811e99b7facde48001122',
 'f5ca2592b86611e9b446acde48001122',
 'adcad33eb86811e9bc29acde48001122',
 'f5ae9db8b86611e988c1acde48001122',
 '2f36c7f4b86711e9ad6eacde48001122',
 '1776dc80b86711e9b452acde48001122',
 '382a5000b86811e9a428acde48001122',
 '07173218b86711e98c15acde48001122',
 'e376d7dcb86611e9bd09acde48001122',
 'ed36cca4b86711e9bd85acde48001122',
 '5bf573a8b86711e98a43acde48001122',
 '09bb2b28b86a11e9982facde48001122',
 '17433e28b86711e9b7c3acde48001122',
 'f5a83646b86611e9a7adacde48001122',
 '6e0a48acb86c11e99b02acde48001122',
 '68184c26b86911e9b2d3acde48001122',
 '35fd2e5eb86a11e9b537acde48001122',
 '1e89a0a8b86911e9b714acde48001122',
 '8bf4a212b86811e99b39acde48001122',
 'bad7d474b86711e9836aacde48001122',
 '78b6af68b86811e984c7acde48001122',
 '48272286b86911e98652acde48001122',
 '5be45cd0b86711e99fa9acde48001122',
 '63e31fc6b86b11e985d4acde48001122',
 '6c100f1eb86711e99c0dacde48001122',
 '2f522026b86711e989e6acde48001122',
 '9113891cb86711e9b4d5acde48001122',
 '91aa4e0cb86911e9a84dacde48001122',
 'a08e113ab86911e9b6d1acde48001122',
 '47149464b86711e9a9feacde48001122']

In [5]:
df_knn_rank = []

In [7]:
for idx, date in tqdm(enumerate(csv_list)):
    with open('./pid_pairs/' + 'pid_pairs_' + date[:-4] + '.pkl', 'rb') as file:
        pid_pair_date = pickle.load(file)

    df_knn_rank.append(pd.DataFrame(pid_pair_date, columns=['target', 'next']))

    def ranking(r):
        if r.target in dict_knn_table:
            ids = dict_knn_table[r.target]
#             ids, cos = zip(*lt)
            try:
                rank = ids.index(r.next) + 1
            except:
                rank = np.nan
        else:
            rank = np.nan
        return rank

    df_knn_rank[idx]['rank'] = df_knn_rank[idx].apply(ranking, axis=1)

122it [05:23,  2.65s/it]

In [8]:
with open('./knn_result/lt_df_knn_rank_122days.pkl', 'wb') as file:
    pickle.dump(df_knn_rank, file)

---

In [12]:
df_knn_rank_all = pd.concat(df_knn_rank)

In [13]:
df_knn_rank_all

,target,next,rank
0,e3253e4ab86611e98070acde48001122,e32641b4b86611e9a12dacde48001122,NaN
1,e32641b4b86611e9a12dacde48001122,e3253e4ab86611e98070acde48001122,7.0
2,e3253e4ab86611e98070acde48001122,e32641e6b86611e9afdfacde48001122,NaN
3,e32641e6b86611e9afdfacde48001122,e32642d8b86611e99cc6acde48001122,NaN
4,e32642d8b86611e99cc6acde48001122,e32642a4b86611e984feacde48001122,NaN
...,...,...,...
78353,8016cfa4b86f11e9a21eacde48001122,8016cfa4b86f11e9a21eacde48001122,NaN
78354,5bdbc458b86711e9a4e9acde48001122,c36100ccb86811e9bd4cacde48001122,NaN
78355,c36100ccb86811e9bd4cacde48001122,5bdbc458b86711e9a4e9acde48001122,27.0
78356,09b10d70b86a11e9a3adacde48001122,09b10d70b86a11e9a3adacde48001122,NaN
78357,8016cfa4b86f11e9a21eacde48001122,8016cfa4b86f11e9a21eacde48001122,NaN

In [14]:
df_knn_rank_all.dropna(inplace=True)

In [15]:
len(df_knn_rank_all)

4671583

In [16]:
4671583 / 13836074

0.3376379021968226

In [18]:
pd.set_option('display.float_format',lambda x : '%.2f' % x)
df_knn_rank_all.describe()

            rank
count 4671583.00
mean       20.49
std        24.38
min         1.00
25%         3.00
50%         9.00
75%        30.00
max        99.00