In [1]:
import pandas as pd
import numpy as np
import datetime
import time
import pickle
from tqdm import tqdm
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
from random import choices, sample
from gensim.models import Word2Vec
import gc
pd.set_option('display.float_format',lambda x : '%.2f' % x)

In [2]:
NN_tables = []
for part in range(1, 5):
    with open('./dict_NN_table/NN_table_'+ str(part) +'.pkl', 'rb') as file:
        NN_tables.append(pickle.load(file))

In [3]:
with open('./knn_result/lt_df_knn_rank_122days.pkl', 'rb') as file:
    lt_df_knn_rank = pickle.load(file)

In [4]:
for i in range(len(lt_df_knn_rank)):
    lt_df_knn_rank[i].dropna(inplace=True)

In [5]:
lt_df_knn_rank[0]

,target,next,rank
1,e32641b4b86611e9a12dacde48001122,e3253e4ab86611e98070acde48001122,7.00
7,e32d8d66b86611e9bf79acde48001122,e32c2b24b86611e996adacde48001122,11.00
8,e32c2b24b86611e996adacde48001122,e34876eeb86611e98b8aacde48001122,4.00
9,e34876eeb86611e98b8aacde48001122,e32c2b24b86611e996adacde48001122,36.00
10,e32c2b24b86611e996adacde48001122,e348775cb86611e992caacde48001122,33.00
...,...,...,...
69705,e34053e2b86611e9bbbdacde48001122,e3405392b86611e988caacde48001122,1.00
69706,e3405392b86611e988caacde48001122,e34053e2b86611e9bbbdacde48001122,1.00
69708,e3350302b86611e9898facde48001122,e34a941ab86611e98e5bacde48001122,1.00
69709,e34a941ab86611e98e5bacde48001122,e32a3e74b86611e9a17cacde48001122,7.00
69713,e3882ce4b86611e9af81acde48001122,e3392cf4b86611e9b693acde48001122,8.00

In [6]:
def ranking(r):
    for part in range(4):
        if r.target in NN_tables[part]:
            lt = NN_tables[part][r.target]
            ids, score = zip(*lt)
            try:
                rank = ids.index(r.next) + 1
            except:
                rank = np.nan
            break
    else:
        rank = np.nan
    return rank

In [7]:
for i in tqdm(range(len(lt_df_knn_rank))):
    lt_df_knn_rank[i]['NN_rank'] = lt_df_knn_rank[i].apply(ranking, axis=1)

100%|██████████| 122/122 [03:48<00:00,  1.87s/it]

In [8]:
with open('./NN_result/lt_df_NN_rank_122days.pkl', 'wb') as file:
    pickle.dump(lt_df_knn_rank, file)