In [1]:
import pandas as pd
import numpy as np
import datetime
import time
import pickle
from tqdm import tqdm
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
from random import choices, sample
from gensim.models import Word2Vec
import gc
pd.set_option('display.float_format',lambda x : '%.2f' % x)

In [2]:
NN_tables = []
for part in range(1, 5):
    with open('./dict_NN_table/NN_table_'+ str(part) +'.pkl', 'rb') as file:
        NN_tables.append(pickle.load(file))

In [3]:
with open('./knn_result/lt_df_knn_rank_9days.pkl', 'rb') as file:
    lt_df_knn_rank = pickle.load(file)

In [4]:
for i in range(len(lt_df_knn_rank)):
    lt_df_knn_rank[i].dropna(inplace=True)

In [5]:
lt_df_knn_rank[0]

          target     next  rank
13       1332907   705557 24.00
24       1985302  2213366  6.00
26        357481  3495288 28.00
27       3495288  1985302  8.00
34       3263114  2956113 73.00
...          ...      ...   ...
8666262  4589811  4800535 30.00
8666300  3224005  3657095 18.00
8666301  3657095  4344771 52.00
8666325  4330306  2257855 47.00
8666439  1982600  1817934  3.00

[328689 rows x 3 columns]

In [6]:
def ranking(r):
    for part in range(4):
        if r.target in NN_tables[part]:
            lt = NN_tables[part][r.target]
            ids, score = zip(*lt)
            try:
                rank = ids.index(r.next) + 1
            except:
                rank = np.nan
            break
    else:
        rank = np.nan
    return rank

In [7]:
for i in tqdm(range(len(lt_df_knn_rank))):
    lt_df_knn_rank[i]['NN_rank'] = lt_df_knn_rank[i].apply(ranking, axis=1)

100%|██████████| 9/9 [02:00<00:00, 13.42s/it]

In [8]:
with open('./NN_result/lt_df_NN_rank_9days.pkl', 'wb') as file:
    pickle.dump(lt_df_knn_rank, file)